<div class="padding">
    <div>
        Dear <span th:text="${siteName}">Ray Sponsible</span>
    </div>
    <div>
        Welcome to the Wutsi e-Commerce community.<br/>
        Here is the link to your online store: <a th:href="${siteUrl}" th:text="${siteUrl}">...</a>
    </div>
</div>

<div class="padding">
    <h1>Start selling online in 5 steps :</h1>
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td class="padding">
                <h2 class="no-padding no-margin">1. Make sure your profile is up to date.</h2>
                <div>
                    Add your store description, links to your social media accounts and more to let your customers more
                    about your business.
                </div>
            </td>
        </tr>
        <tr>
            <td class="padding">
                <h2 class="no-padding no-margin">2. Add products to your product catalog.</h2>
                <div>
                    Use the Wutsi app to add and publish your products to your online store. You will also be able to
                    set up
                    promotions and much more.
                </div>
            </td>
        </tr>
        <tr>
            <td class="padding">
                <h2 class="no-padding no-margin">3. Share the link to your online store.</h2>
                <div>
                    Promote your online store by sharing it on WhatsApp, social media and by SMS.
                </div>
            </td>
        </tr>
        <tr>
            <td class="padding">
                <h2 class="no-padding no-margin">4. Accept online payments.</h2>
                <div>
                    Receive payments from anywhere in Cameroon.
                    Digital products will be delivered automatically by email.
                    Contact your customers directly to organise the delivery of physical products.
                </div>
            </td>
        </tr>
        <tr>
            <td class="padding">
                <h2 class="no-padding no-margin">5. Add your Mobile Money accounts.</h2>
                <div>
                    Link your Orange or MTN Money account to your profile to cash out faster.
                </div>
            </td>
        </tr>
        <tr>
            <td class="padding">
                <h2>Still have questions?</h2>
                <div>
                    Visit our <a href="https://www.wutsi.app">website</a> to learn more about Wutsi.<br/>
                    The Wutsi Team
                </div>
            </td>
        </tr>
    </table>
</div>
